*{
	margin: 0;
	padding: 0;
	border: 0;
}


body{
	background-color: #999;
	font-family: "宋体";
	font-size: 14px;
	line-height: 1.2;
	color: #666;
}

.header{
	width: 1200px;
	margin: 0 auto;
	border-bottom: 10px solid #900;
}

.header img{
	width: 100%;
	height: auto;
	padding: 0;
}

.container{
	width: 1180px;
	padding: 10px;
	margin: 0 auto;
	background-color: #fff;
	margin-bottom: 10px;
	
}

/*消除浮动造成的影响；我们推荐的使用方法  */
.container::after{
	content: "";
	display: block;
	clear: both;
}


.container   .aside{
	width: 200px;	
	float: left;
	padding: 50px;
}


.aside ul{
	list-style: none;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 50px;
}


.aside li{
	font-size: 20px;
	padding-left: 15px;
	margin-bottom: 15px;
	background-image: url(../images/pointer5.gif);
	background-repeat: no-repeat;
	background-position: left center;
	
	
}

.aside img{
	border: 1px dotted #00BFff;
	margin-bottom: 50px;
	margin-left: 20px;
}


.container  .content{
	width: 780px;
	float: right;	
	padding: 50px;
	
	
}

.content h1{
	font-size: 48px;
	color: #900;
	text-align: center;
	border-bottom: 1px dotted #900;
	margin-bottom: 50px;
}

.content p{
	text-indent: 2em;
	margin-bottom: 10px;
	line-height: 1.5;
}

.qichepic{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.qichepic img{
	border: 1px solid #a0a0a0;
	padding: 15px;
	background-color: #fff;
	box-shadow: 3px 3px 3px #333333;
	border-radius: 5px;
}

.footer{
	
	width: 1200px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	background-color: #333;
	text-align: center;
	color: #fff;
	
}

